div.digiSuggest{
    width: 100%;
    height: 450px;
    padding: 20px;
}
div.digiSuggest>div.topdigiSuggest{
    width: inherit;
    height: 100px;
text-align: center;
margin-top: 5px;
}
div.digiSuggest>div.topdigiSuggest>P{
    font-family:  Yekan;
    font-size: 25px;
    font-weight: bold;
    line-height: 100px;

}
div.digiSuggest>div.bottomdigiSuggest{
    width: inherit;
    height: 310px;
    margin: 0 auto;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
}
div.digiSuggest>div.bottomdigiSuggest>div.childdigiSuggest{
    width: 97%;
    height: 285px;
    margin: 0 auto;
}
.suggestItem{
    flex-flow: column wrap;
}
div.digiSuggest >div.bottomdigiSuggest>div.childdigiSuggest div.imageSuggest{
    text-align: center;
    width: 110px;
    height: 110px;
    margin-bottom: 130px;
  border-radius: 10px;
}

div.digiSuggest >div.bottomdigiSuggest>div.childdigiSuggest div.imageSuggest>a>img{
    display: inline-block;
    width: 70px;
    height: 70px;
  object-fit: contain;
  vertical-align: middle;
  line-height: 120px;
  background-color: gray;
  border-radius: 50%;
}
div.digiSuggest >div.bottomdigiSuggest>div.childdigiSuggest div.imageSuggest>a{
    text-decoration: none;
     width: 100px;
    height: 100px;
}

div.digiSuggest >div.bottomdigiSuggest>div.childdigiSuggest div.imageSuggest>a>h4{
    font-family: Yekan;
    font-size: 14px;
    color: #0c0c0c;
}
div.digiSuggest >div.bottomdigiSuggest>div.childdigiSuggest div.imageSuggest>a>hr{
    width: 100px !important;
    color: lightgray;
}


.fitSuggest{
    /* border-bottom: 10px solid lightgray; */
border-left: 1px solid lightgray;
}
.lastfitSuggest{
    padding-right: 30px;
}
.firstfitSuggest{
    padding-left: 20px;
}